*{
    margin:0;
    padding:0;
    box-sizing:border;
}
html,body{
    height:100%;
    width:100%;
}
.main{
    background-color:#e78c8293;
    height:100%;
    width:100%;
    display:flex;
}
.part1{
    height:100%;
    width:26%;
    /* background-color: red; */
}
.part2{
    height:100%;
    width:67%;
    background-image: url("https://media.istockphoto.com/id/1270652087/photo/beautiful-woman-with-voluminous-curly-hairstyle.jpg?s=612x612&w=is&k=20&c=AkLpoqs693IZnJQuh2Fb3Otu5Qt48lNlOB82xz-hpuo=");
    background-size:cover;
    background-position: center;
}
#overlay{
    height:100%;
    width:100%;
    background-color: rgba(239, 209, 209, 0.224);
}
.part3{
    height:100%;
    width:7%;
    /* background-color:blue; */
}